.container{
  width: 1200px;
}

header{
  background-color: #151515;
  width: 100vw; 
  height: 83px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner{
  width: 100vw;
  height: 450px;
  background: linear-gradient(99.06deg, rgb(0, 0, 0) 45.8%, rgba(0, 0, 0, 0) 90.54%) center center / cover no-repeat, url(https://hermes.digitalinnovation.one/public/components/pages/home/header/banner-play.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.carreiras{
  background-color: #1E192C;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tecnologias{
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empresas{
  width: 100vw;
  display: flex;
  flex-direction: column;

}