/*header modules*/
.header__container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*nav*/
.menu__nav__ul {
  margin-left: 60px;
  margin-right: 20px;
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-size: 1rem;
}

/*botões de login*/
.logar {
  display: flex;
  gap: 15px;
  font-size: 1rem;
}

.logar__entrar {
  width: 85px;
  height: 32px;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.logar__registrar {
  width: 120px;
  height: 32px;
  background-color: #7f28b5;
  color: aliceblue;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/*botões de troca de lingua*/
.linguas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.linguas__botao {
  background-color: transparent;
  width: 30%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.linguas__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*BANNER*/
.banner__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner__info {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.banner__info__titulo {
  font-size: 3.5rem;
}

.banner__info__paragrafo {
  font-size: 1rem;
  line-height: 25px;
  margin-top: -10px;
}

.banner__info__botao {
  width: 180px;
  height: 40px;
  margin: 1.8rem 0px;
}

/*CARREIRAS*/

.carreiras__conteiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* INFOS */
.carreiras__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carreiras__info__titulo {
  font-weight: bold;
  font-size: 3rem;
}

.carreiras__cor__titulo {
  color: #7f28b5;
  font-weight: bold;
  font-size: 3rem;
}

/* CARDS */
.carreiras__cards {
  display: flex;
}

.carreiras__cards__scoll_ul {
  display: flex;
  justify-content: space-between;
}

.carreiras__ul__card {
  background-color: #161221;
  width: 320px;
  height: 400px;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 10px;
}

.ul__card__titulo {
  font-weight: 400;
  font-size: 42px;
  margin: 0 0 1rem 1rem;
  max-width: 250px;
  text-decoration: none;
}

.ul__card__lista {
  font-size: 1rem;
  color: #9d9d9d;
  margin: 0.5rem 0px;
  list-style: disc;
}

/*
TECNOLOGIAS
*/

.tecnologias__container {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tecnologias__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tecnologias__info__titulo {
  color: #1e192c;
}

.tecnologias__info__paragrafo {
  color: #1e192c;
}

.tecnologias__lista {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tecnologias__lista__ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.4em;
  flex-flow: row wrap;
}

.li__tecnologias {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 1.25rem;
}

.link__tecnologias {
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.75rem;
  height: 2.25rem;
  font-size: 1em;
}

.img__tecnologias {
  width: 1.25em;
  margin-right: 0.25em;
  max-height: 1.75em;
}

/*EMPRESAS*/

.empresas__container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.empresas__info{
  width: 800px;
  text-align: center;
}

.empresas__carrossel{
  width: 100%;
}

.empresas__titulo{
  color: #1e192c;
}

.emp__carrossel__ul{
  display: flex;
  gap: 0.5rem;
}

.emp__carrossel__li{
  width: 300px;
  height: 100px;
}

.emp__carrossel__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
